.menu-sidebar {
    box-shadow: 0 4px 8px 0 rgb(156 155 155 / 20%);
    width: 250px;
    height: 100vh;
}

.chat-sidebar {
    box-shadow: 0 4px 8px 0 rgb(156 155 155 / 20%);
    width: 250px;
    height: 100vh;
    padding: 0 30px;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.sidebar-links a {
    text-decoration: none;
    font-weight: 500;
    padding: 15px 20px;
    margin: 5px 10px;
    color: rgba(65, 65, 65, 1);
}

.sidebar-links a:hover {
    background: #48964A;
    color: white;
    box-shadow: 0 4px 8px 0 rgb(156 155 155 / 20%);
    border-radius: 10px;
}

.activeClassName {
    background: #48964A;
    color: white !important;
    box-shadow: 0 4px 8px 0 rgb(156 155 155 / 20%);
    border-radius: 10px;
}