.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-shadow: 0 4px 8px 0 rgba(156, 155, 155, 0.2);
}

.logo {
    font-family: 'Samsung Sharp Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
}

.logo span {
    font-family: 'Samsung Sharp Sans', sans-serif;
    color: rgb(6, 167, 91);
}

.navbar-icons {
    display: flex;
    align-items: center;
}

.navbar-icons img {
    margin: 0 20px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.profile-content {
    display: none;
    position: absolute;
    left: 15px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 0;
    z-index: 1;
}

.message-content {
    display: none;
    position: absolute;
    left: 15px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 0;
    z-index: 1;
}

.dropdown:hover .profile-content, .dropdown:hover .message-content {
    display: block;
}

.profile-content p {
    padding: 10px 0 10px 20px;
    cursor: pointer;
}

.profile-content p:hover {
    color: white;
    background: rgba(72, 150, 74, 1);
}

.username {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #414141;
    cursor: pointer;
}

.user-image {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #48964A;
}