.post-card {
    box-shadow: 0 4px 8px 0 rgb(156 155 155 / 20%);
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 10px;
}

.post-card div {
    margin: 0 10px;
}   