.input {
    width: 300px;
    height: 55px;
    background: #F4F4F4;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #232323;
    mix-blend-mode: normal;
    opacity: 0.57;
    padding: 0 28px;
}

.login-input {
    height: 45px;
    width: 307px;
    background: #F4F4F4;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    outline: none;
    padding: 0 20px;
}

.login-form input {
    margin: 10px 0;
}

.login-input::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #232323;
    mix-blend-mode: normal;
    opacity: 0.57;
}